---
const projects = [
    {
        title: 'MyStoreSystem',
        description: 'This project is an advanced inventory management system developed with Laravel, providing comprehensive tools for businesses to meticulously handle inventory and client information, optimizing control and efficiency.',
        img: 'assets/mystoresystem.png',
        tags: ['Development', 'Design', '3 months ago'],
        tech: ['html5', 'css3', 'javascript', 'php'],
        fw: 'laravel'
    },
    {
        title: "Andrea's portfolio",
        img: 'assets/tres4tos.png',
        tags: ['Development', 'Design', '1 month ago'],
        fw: 'astro'
    }
]
---
{
    projects.map((item) => (
        <article class="flex flex-col w-full relative">
            <picture class="rounded-3xl w-full h-auto overflow-hidden duration-700 relative projectPicture">
                <div class="absolute z-20 font-main px-4 py-4 text-cream-white opacity-0">
                    <h1 class="text-[4rem] font-semibold">{item.title}</h1>
                    <p class="w-9/12 text-justify">{item.description}</p>
                    <h2 class="text-[2rem] font-semibold pt-4">Used technologies</h2>
                    <div class="text-[5rem]">
                        {
                            item.tech?.map(tech => (
                            <i class=`bx bxl-${tech}`></i>
                            ))
                        }
                    </div>
                    <div class="absolute right-4 top-8 w-2/12">
                        <img src=`/assets/logos/${item.fw}-logo.svg`>
                    </div>
                    <div class="bottom-0 right-0">
                        <button>Preview</button>
                    </div>
                </div>
                <img class="object-cover size-full projectImg" src={item.img} alt=`image of ${item.title}`>
            </picture>
            <div class="flex justify-between items-center md:pt-2 px-2">
                <a id="projectBottom" class="font-inter font-light text-2xl" href="/project">
                    {item.title}
                </a>
                <div id="tags" class="uppercase flex gap-x-2">
                    {
                        item.tags?.map(tag => (
                            <span>{tag}</span>
                        ))
                    }
                </div>
            </div>
        </article>
    ))
}

<style>
    picture {
        height: clamp(300px, 31vw, 700px);
    }

    #projectBottom {
        font-size: clamp(20px, 1.4vw, 40px);
    }

    #tags {
        font-size: clamp(9px, 1vw, 16px);
    }

    .projectPicture .projectImg, .projectPicture div {
        transition: all 1s ease;
    }

    .projectPicture:hover .projectImg{
        filter: blur(2px);
    }

    .projectPicture:hover div{
        opacity: 1;
    }

    .projectPicture h1 {
        font-size: clamp(30px, 3.5vw, 64px);
    }

    .projectPicture p {
        font-size: clamp(10px, 1vw, 18px);
    }

    .projectPicture h2 {
        font-size: clamp(20px, 2.5vw, 38px);
    }
</style>

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger)

    const img = document.querySelectorAll('.projectImg')

    img.forEach(e => {
        gsap.from(e, {
        scrollTrigger: {
            trigger: e,
            start: 'top 95%',
            end: 'top 20%',
            scrub: true,
            markers: false
        },
        ease: 'power4-out',
        scale: 0.95,
        opacity: .95
    })
    })
</script>