---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

type Props = {
    project: CollectionEntry<'projects'>;
}
const { project } = Astro.props;
---

<article class="flex flex-col w-full relative">
    <picture class="max-md:rounded-2xl rounded-3xl w-full h-auto overflow-hidden relative projectPicture">
        <div class="absolute flex items-center gap-x-2 z-30 bottom-4 left-4 rounded-lg backdrop-blur-[2px] bg-white/10 tech">
            <img class="inline-block max-h-9" src=`/assets/logos/${project.data.fw}`>
            {
                project.data.tech?.map(t => (
                    <i class=`bx bxl-${t}`></i>
                ))
            }
        </div>
        <Image 
            src={project.data.image} 
            alt={project.data.title}
            class="object-cover size-full projectImg"
        />
    </picture>
    <div class="flex justify-between items-center md:pt-2 px-2 text-black-gray">
        <a id="projectBottom" class="font-inter font-light text-2xl" href=`/projects/${project.slug}`>
            {project.data.title}
            <i class='bx bx-arrow-back rotate-[130deg] ml-1'></i>
        </a>
        <div id="tags" class="uppercase flex gap-x-2">
            {
                project.data.tags?.map(tag => (
                    <span>{tag}</span>
                ))
            }
        </div>
    </div>
</article>


<style>
    picture {
        height: clamp(300px, 31vw, 700px);
    }

    #projectBottom {
        font-size: clamp(20px, 1.4npmvw, 40px);
    }

    #tags {
        font-size: clamp(9px, 1vw, 16px);
    }

    .tech i{
        font-size: clamp(25px, 4vw, 40px);;
    }

    .tech img{
        width: clamp(20px, 4vw, 45px);
    }
</style>

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger)

    const img = document.querySelectorAll('.projectPicture')

    img.forEach(e => {
        gsap.from(e, {
        scrollTrigger: {
            trigger: e,
            start: 'top 95%',
            end: 'top 20%',
            scrub: true
        },
        ease: 'power4-out',
        scale: 0.95,
        opacity: .95
    })
    })
</script>