---
const projects = [
    {
        title: 'MyStoreSystem',
        description: 'This project is an advanced inventory management system developed with Laravel, providing comprehensive tools for businesses to meticulously handle inventory and client information, optimizing control and efficiency.',
        img: 'assets/mystoresystem.png',
        tags: ['Development', 'Design', '3 months ago'],
        tech: ['html5', 'css3', 'javascript', 'php'],
        fw: 'laravel-logo.svg'
    },
    {
        title: "Andrea's portfolio",
        img: 'assets/tres4tos.png',
        tags: ['Development', 'Design', '1 month ago'],
        tech: ['html5', 'tailwind-css', 'typescript'],
        fw: 'astro-logo.svg'
    }
]
---
{
    projects.map((item) => (
        <article class="flex flex-col w-full relative">
            <picture class="rounded-3xl w-full h-auto overflow-hidden duration-700 relative projectPicture">
                <div class="absolute flex items-center gap-x-2 z-30 bottom-4 left-4 rounded-lg backdrop-blur-[2px] bg-white/10 tech">
                    <img class="inline-block" src=`/assets/logos/${item.fw}`>
                    {
                        item.tech?.map(t => (
                            <i class=`bx bxl-${t}`></i>
                        ))
                    }
                </div>
                <img class="object-cover size-full projectImg" src={item.img} alt=`image of ${item.title}`>
            </picture>
            <div class="flex justify-between items-center md:pt-2 px-2 text-black-gray">
                <a id="projectBottom" class="font-inter font-light text-2xl" href="/project">
                    {item.title}
                    <i class='bx bx-arrow-back rotate-[130deg] ml-1'></i>
                </a>
                <div id="tags" class="uppercase flex gap-x-2">
                    {
                        item.tags?.map(tag => (
                            <span>{tag}</span>
                        ))
                    }
                </div>
            </div>
        </article>
    ))
}

<style>
    picture {
        height: clamp(300px, 31vw, 700px);
    }

    #projectBottom {
        font-size: clamp(20px, 1.4vw, 40px);
    }

    #tags {
        font-size: clamp(9px, 1vw, 16px);
    }

    .tech i{
        font-size: clamp(12px, 4vw, 60px);;
    }

    .tech img{
        width: clamp(12px, 4vw, 45px);
    }
</style>

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger)

    const img = document.querySelectorAll('.projectImg')

    img.forEach(e => {
        gsap.from(e, {
        scrollTrigger: {
            trigger: e,
            start: 'top 95%',
            end: 'top 20%',
            scrub: true
        },
        ease: 'power4-out',
        scale: 0.95,
        opacity: .95
    })
    })
</script>