---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import SectionContent from '../../components/SectionContent.astro';
import Intro from '../../components/Intro.astro';

export const getStaticPaths = async () => {
    const projects = await getCollection('projects');
    const paths = projects.map(project => {
        return {
            params: {
                slug: project.slug
            },
            props: {
                project
            }
        }
    })
    return paths;
}

type Props = {
    project: CollectionEntry<'projects'>
}

const {project} = Astro.props;
const {Content} = await project.render();
---

<Layout title='Pvngu | MyStoreSystem'>
    <Intro />
    <main class="pt-24">
        <section class="mx-44">
            <div class="mb-4">
                <h1 class='font-main font-bold uppercase text-[4rem] text-black-gray'>{project.data.title}</h1>
            </div>
            <div class="flex justify-between mb-6 text-black-gray">
                <div class="w-7/12">
                    <p>{project.data.description}</p>
                </div>
                <div class="flex gap-x-6">
                    <div>
                        <div class="font-semibold">Date:</div>
                        <div>Dec 13, 2023</div>
                    </div>
                    <div>
                        <div class="font-semibold">Technologies:</div>
                        <div class="tech">
                            {
                                project.data.tech?.map(t => (
                                    <i class=`bx bxl-${t}`></i>
                                ))
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="markdown">
                <Content />
            </div>
        </section>
    </main>
</Layout>

<style>
    h1 {
        font-size: clamp(40px, 5vw, 70px)
    }

    .tech i{
        font-size: clamp(25px, 4vw, 40px);;
    }
</style>

<style is:global>
    .markdown p img {
        border-radius: 1.5rem;
        margin-block: 2rem;
    }

    .markdown h2 {
        font-size: clamp(10px, 3vw, 40px);
        font-family: Poppins, sans-serif;
        font-weight: 600;
        text-align: center;
    }
</style>